/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}


.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.header-container{
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo{
    width: 390px;
}
.header__contacts{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
.contacts-phone, .contacts-addres{
    display: flex;
    justify-content: space-between;
}
.contacts-phone img{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}
.contacts-addres img{
    width: 25px;
    height: 25px; 
    margin-right: 7px;
}
.contacts-addres p{
    text-align: right;
    color: #ff900b;
    text-decoration: underline;
}
.contacts-addres p:hover{
    color: black;
    cursor: pointer;
}







.main{
    width: 100%;
}
.nav-container{
    width: 100%;
    height: 56px;
    border-top: 1px #e1e1e1 solid;
    border-bottom: 1px #e1e1e1 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav{
    width: 1170px;
    height: 54px;
    display: flex;
    align-items: center;
}
.main-nav__ul{
    display: flex;
    list-style: none;
    height: 54px;
    margin: 0;
    padding: 0 15px;
    backface-visibility: hidden;
}
#main-nav__active{
  border-top: 4px tomato solid;
  color: black;
}
.main-nav__ul li{
  position: relative;
}

.main-nav a{
  display: flex;
  align-items: center;
  justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #979292;
    padding: 14px 25px;
    border-top: 4px white solid;
} 
.main-nav a:hover{
  border-color: tomato;
  color: black;
}
.main-nav img{
  width: 160px;
  height: 54px;
}
#main-nav__contacts{
  padding: 0;
  border-top: none;
}

.submenu{
  background: rgb(226, 224, 224);
  border: 1px #e1e1e1 solid;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
}
.main-nav__ul > li:hover .submenu {
  visibility: visible;
  opacity: 1;
	transform: perspective(600px) rotateX(0deg);
}
.submenu a{
  border: none;
  text-transform:initial;
  padding: 7px 2px;
}
.intro{
  width: 100%;
  height: 548px;
  overflow: hidden;
  position: relative;
}
.mask{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.video{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.video-media{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
